body {
    margin: 0;
    font-family: 'Mate SC', serif;
    -webkit-text-size-adjust: 100%;

    &.show {
        overflow: hidden;
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: #333;

    & h1 {
        margin-left: 30px;
        color: burlywood;
    }


    & nav {
        & ul {
            display: flex;

            & li {
                margin: 0 20px;
                list-style: none;
              //  color: #fff;


                & a {
                    font-weight: 700;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

       
    }

    & .sp-nav {
        display: none;
    }

    & .slide-menu {
       display: none;

       & ul {
           & li { 
              // display: none;
              list-style: none;
              margin: 10px auto;
           }
       }
    }
}


.mainvisual {
  //  display: none;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-image: url(../images/training.jpg);
    background-size: cover;
    background-color: gray;
  //  background-blend-mode: darken;


  &__phrase {
      width: 50%;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

    & p {
        margin: 0;
        color: #fff;
        font-size: 18px;

        &:nth-child(3){
            border-bottom: 2px solid white !important;
        }
       
    }

    & h2 {
        margin-top: 5px;
        font-size: 60px;
        color: #fff;
        margin-bottom: 10px;
    }

    & .button {
        margin-top: 50px;
        background-color:burlywood;

        & a {
           // display: block;
            text-decoration: none;
            color: #fff;
            width: 200px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 700;
        }
    }
    
  }

}

.intro {
    display: flex;
    justify-content: center;

    & p {
        margin: 20px auto;
        font-size: 12px;
        line-height: 2;
        text-align: center;
        font-weight: lighter;
        color: gray;
    }
}

.feature {
    width: 100%;
    height: auto;
    margin: 0 auto;
 //   display: none;

    &__block {
        width: 100%;
      //  outline: 1px solid;
        height: 500px;
        background-image: url(../images/machines.jpg);
        background-size: cover;
        background-color: gray;
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h3 {
            margin: 0;
            font-size: 50px;
            color: #fff;
            position: relative;

            &::before {
                     position: absolute;
                     top: -20px;
                     border-bottom: 3px solid;
                     content: "";
                     left: -100px;
                     width: 80px;
                     height: 50px;
            }
            &::after {
                position: absolute;
                top: -20px;
                border-bottom: 3px solid;
                content: "";
                left: 200px;
                width: 80px;
                height: 50px;
            }
        }

        & p {
            width: 30%;
            margin: 0 auto;
            font-size: 17px;
            color: #fff;
            text-align: left;

            &.title {
                text-align: center;
                margin-bottom: 20px;
            } 
        }

        &:nth-child(2){
            background-image: url(../images/personal.jpg);
            background-size: cover;

            & h3 {
                margin: 0;
                font-size: 50px;
                color: #fff;
                position: relative;
    
                &::before {
                         position: absolute;
                         top: -20px;
                         border-bottom: 3px solid;
                         content: "";
                         left: -100px;
                         width: 80px;
                         height: 50px;
                }
                &::after {
                    position: absolute;
                    top: -20px;
                    border-bottom: 3px solid;
                    content: "";
                    left: 220px;
                    width: 80px;
                    height: 50px;
                }
            }
        }
       
       
        &:nth-child(3){
            background-image: url(../images/pool.jpg);
            background-size: cover;


            & h3 {
                margin: 0;
                font-size: 50px;
                color: #fff;
                position: relative;
    
                &::before {
                         position: absolute;
                         top: -20px;
                         border-bottom: 3px solid;
                         content: "";
                         left: -100px;
                         width: 80px;
                         height: 50px;
                }
                &::after {
                    position: absolute;
                    top: -20px;
                    border-bottom: 3px solid;
                    content: "";
                    left: 150px;
                    width: 80px;
                    height: 50px;
                }
            }
        }
    }
}

.corse {
  //  display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color:rgba($color: #333, $alpha: .9);

    & h4 {
        margin: 0;
        text-align: center;
        font-size: 25px;
        color: #fff;
        padding-top: 20px;
    }
   

   & .tile-area {
              width: 80%;
              height: 100%;
              margin: 30px auto;
              display: flex;
              justify-content: space-around;
              align-items: center;


         & .tile {
             height: 60%;
             width: 23%;
             display: flex;
             flex-direction: column;
             align-items: center;

             & img {
                 width: 200px;
                 height: 200px;
                 border-radius: 50%;
             }

             & h5 {
                 margin-top: 3px;
                 font-size: 22px;
                 color: #fff;
                 margin-bottom: 2px;
                 width: 150px;
                 text-align: center;
                 border-bottom: 1px solid;
               //  margin: 0 auto;
             }
             & p {
                 margin-top: 0px;
                 font-size: 20px;
                 letter-spacing: 2px;
                 color: #fff;
                 font-weight: 600;
             }
         }
   }

   & .ps {
       width: 75%;
       margin: 50px auto 0 auto;
       margin-top: 50px;
       
       & span {
           display: inline-block;
           margin-left: 50px;
           color: #fff;
           padding-bottom: 10px;
       }
   }

   
}


footer {
 //   display: none !important;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: rgba($color: #000, $alpha: .9);
    display: flex;
    justify-content: center;
    align-items: center;
    
    & p {
        margin: 0;
        color: #fff;
    }
}


@media screen and(max-width:768px) {
    header {
        width: 100%;
     //   position: relative;
        
        & h1 {
            width: 50%;
            margin-left: 10px;
            font-size: 20px;
        }
        
        & nav {
            position: absolute;
            top: -100vh;
            left: 0;
            //display: none;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: white, $alpha: .6);
            z-index: 3;
            transition: all 1.2s;

            &.show {
                top:0;
                height: 100vh;
                width: 100%;
            }

            & ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 0;
                margin-top: 0;
                height: 100%;

                & li {
               //     display: none;
                    margin: 30px auto;
                    padding-left: 0;
                    font-size: 30px;
                    font-weight: bold;

                    & a {
                        text-decoration: none;
                        color: black;
                    }
                
        
                }
            }

           
        }

        & .sp-nav {
            display: block;
            margin-right: 20px;
            z-index: 4;
            position: absolute;
            top: 17px;
            right: 0;


            & .nav-bar {
                z-index: 4;
                display: block;
                width: 40px;
                height: 5px;
                margin-bottom: 5px;
                background-color: white;
                border-radius: 5px;
                transition: 1.4s;
                position: absolute;
                top: 20px;
                right: 0;

                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2){
                    top: 10px;
                }
                &:nth-child(3){
                  top: 20px;
                }


                &.show {
                    background-color: black;
                    transition: 1.4s;
                    position: absolute;
                    right: 0;

                    &:nth-child(1){
                        top: 0px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2){
                        transform: translate(-30px);
                        opacity: 0;
                    }
                    &:nth-child(3){
                      top: 0px;
                      transform: rotate(-45deg);
                    }
                }
            }
        }

        & .slide-menu {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 500px;
            display: block;
            transition: 1.5s;
            background-color: rgba($color: #fff, $alpha: .9);
            transform: translateY(-100%);

            & a {
                text-decoration: none;
                color: black;
            }
        

            &.show {
              //  z-index: 6;
              display: none;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #fff, $alpha: .9);
                transform: translateY(0%);

                & ul {
                    margin-top: 100px;
                    padding-left: 0;

                    & li {
                        padding-left: 0;
                    //    color: black;
                    }
    
                  
                }
            }

            & ul {
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 0;


                & li {
                   display: inline;
                 //   padding-left: 0;
                  //  width: 100%;
                    color: black;
                    margin: 0 auto;
                  //  display: none;
                    font-size: 25px;
                    font-weight: 600;
                    margin: 20px auto;
                }
            }
        }
    }

    .mainvisual {
       width: 100%;
       height: 350px;

       &__phrase {
           width: 70%;
           margin-left: 10px;

           & p {
            //   outline: 1px solid;
               text-align: center;
               width: 90%;
               font-size: 15px;
           }
           & h2 {
               font-size: 20px;
           }
       }

    }

    .intro {

        & h2 {
            padding-top: 10px;
            width: 95%;
            margin: 0 auto;
            line-height: 2;
            font-size: 13px;
        }
    }
       
    .feature {
        width: 100%;

        &__block {
            
            & h3 {
                text-align: center;
                width: 150px;
                padding-top: 10px;
                font-size: 30px;
                position: relative;

                &::before {
                    border-bottom: 3px solid;
                    content: "";
                    left: -41%;
                    width: 60px;
                    height: 50px;
                 }
                 &::after {
                     border-bottom: 3px solid;
                     content: "";
                     width: 60px;
                     height: 50px;
                     left: 100%;
                 }
            }

            & p {
                width: 80%;
                margin: 10px auto;
            }

            &:nth-child(2){

             & h3 {   
                 font-size: 29px;

                 &::before {
                    position: absolute;
                    top: -20px;
                    border-bottom: 3px solid;
                    content: "";
                    left: -60px;
                    width: 60px;
                    height: 50px;
                }
                &::after {
                    position: absolute;
                    top: -20px;
                    border-bottom: 3px solid;
                    content: "";
                    left: 149px;
                    width: 60px;
                    height: 50px;
                }
                
             } 
               & p {
                width: 80%;
                margin: 10px auto;
            }
            }
            &:nth-child(3){

                & h3 {   
                    width: 150px;
                    text-align: center;
                    font-size: 29px;
   
                   &::before {
                       border-bottom: 3px solid;
                       content: "";
                       width: 60px;
                       left: -60px;
                       height: 50px;
                   }
                    &::after {
                        position: absolute;
                        top: -20px;
                        border-bottom: 3px solid;
                        content: "";
                        left: 148px;
                        width: 60px;
                        height: 50px;
                    }
                } 

                & p {
                    width: 80%;
                    margin: 10px auto;
                }
               }
        }
    }

    .corse {
        width: 100%;

        & h4 {
            font-size: 20px;
        }

        & .tile-area {
            display: block;

            & .tile {
                width: 80%;
                margin: 30px auto;

            }
        }

        & .ps {
            margin: 0;
            width: 90%;
           
            & span {
                font-size: 15px;
              //  text-align: center;
            }
        }
    }

    footer {
        width: 100%;
        margin: 0 auto;
    }
    
}